header{height: 93vh;}
.headerWrapper{width: 1063px; height:auto;}

/* Navigation */
nav{height: 80px;}
#mainNavCheck, .closeBtnMenu{display: none!important;}
.handburg{display: none;}
.mainMenu{list-style: none; font-family: var(--f1);}
.mainMenu>li{margin: 0 .3rem;}
.mainMenu>li>a{display: inline-block; padding: 1rem 0; margin: 0 1rem; color: var(--c7);}
.mainMenu>li>a:hover{border-bottom: 3px solid #19CCA3; padding-bottom: calc(1rem - 3px);}
.login{background-color: #030f3f; border: 1px solid #2777d8; color: #fff;}
.signup{background-color: #fff; border: 1px solid #fff;}

/* banner */
.banner{height: calc(100vh - 80px);}
.banner h1{position: relative;}
.banner h1::before{content: ''; width: 24px; background-color:#58C19C; height: 4px; position: absolute; bottom:-2.1rem; left: 0;}

/* container */
.container{height: 500px!important; width: 100%;}
.product{align-self: flex-start;}
.productDetails h5{color:#4F5659; line-height: 2.5rem;}
.rated{color: orange;}
/* coloring style */
.colorBox>li{height: 4rem; cursor: pointer; overflow: hidden; background-color: #fff;  width: 23%; margin:1%; border: 1px solid #D8E0E2; border-radius: .5rem;}
.colorBox>li:hover{border-color: #19CCA3;}
.colorBox>li>div{font-size: .7rem; height: 1rem; width: 100%; text-align: center; line-height: 1rem;}
.colorBox>li>p{color: #545C5F; height:calc( 100% - 10px); display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 5%; text-align: center; font-size: .8rem; line-height:1rem;}
/* product quantity style */
.quantityCheck button{background-color: #d6d6d6; cursor: pointer; border-radius: .3rem; border:none; width: 2.6rem; height: 3.2rem;}
.quantityCheck button:hover{background-color: #c0ebe1;}
.quantityCheck input{border:none; width:3.6rem; text-align: center; color: #3a3a3a; font-size: 1.1rem;}
/* totalAmount style */
.totalAmount input{width: 1.3rem;}
.totalAmount p>span{background-color: #B1FBE3; border-radius: .5rem; padding: .2rem;}
.cartBtn{width: 100%; cursor: pointer; border-radius: .2rem; background-color: #00BA74; height: 4rem; font-size: 1.2rem; font-weight: normal;}
.cartBtn:hover{background-color: #0aad6f;}
/* product gallery style */
.productGallery>ul{width: 100%; height: 3.7rem; }
.productGallery>ul>li{width: 3.7rem; height: 3.7rem; margin: 0 .2rem; overflow: hidden; }
.productGallery>ul>li>img{width: 100%; height: 100%; object-fit:cover; border-radius: .3rem; border: 1px solid #afafaf;}
.productGallery>ul>li>img:hover{border-color: #19CCA3; cursor: pointer;}
/* featuered Points Style */
.featurePoints p{display: flex; margin-bottom: 1rem;}
.featurePoints p>img{margin-right: 1rem;}

/*////////////////////////////////////// PC device view port //////////////////////////////////////*/
@media screen and (max-width: 1400px) {   
  .wrapper{width:90%; height: auto;} 
  .headerWrapper{width: 90%;}             
}

/*////////////////////////////////////// Laptop view port //////////////////////////////////////*/
@media screen and (max-width: 900px) {
  header{height: auto;}
  nav{margin-top: 1.5rem;}
  .headerWrapper{width: 90%;}
  .banner{flex-direction: row; height: auto; margin-top: 2rem;}
  .banner h1, .banner p{text-align: center;}
  .banner>div:nth-child(2) img{width:90%; margin-top: 2rem;}   
  .productDetailsHolder{flex-direction: column;}
  .handburg{display: block; font-size: 1.5rem;}
  #mainNavCheck:checked ~ .mainMenu{display: block!important;}
  .mainMenu{display: none!important; width: 100%; height:100vh; padding: 1.5rem; z-index: 9; position: fixed; top: 0; left: 0; background-color: var(--c2);}
  .mainMenu>li{border-bottom: 1px solid rgba(255,255,255,.5);}
  .closeBtnMenu{font-size: 1.5rem; display: block!important; text-align: right;}
  .banner h1::before{content: ''; left: 50%; }
  .banner>div:nth-child(1){display: flex; flex-direction: column; align-items: center;}
}

/*////////////////////////////////////// Mobile view port//////////////////////////////////// */      
@media screen and (max-width: 598px) {
   nav{margin-bottom: 2rem; padding-top: 1rem;}
  .headerWrapper{width: 100%!important; padding: 0 5%; height:auto;}    
  .mainMenu>li>a{width: 100%;} 
  .banner{margin-top: 2rem;}
  .banner>div:nth-child(2) img{width: 70%; margin-top: 2rem;}    
  .colorBox>li{width: 31%; margin:1%;}
  .colorBox>li>div{font-size: .8rem; height: auto;}
  .colorBox>li>p{font-size: 1rem;}
  .productDisplay>img{width: 100%;}
  .banner h1, .banner p{text-align: left;}
  .banner h1::before{content: ''; left: 0; }
  .banner>div:nth-child(1){display: flex; flex-direction: column; align-items: flex-start;}
}
